#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
}

.app {
  display: flex;
  overflow:hidden;
}

.title {
  font-family: monospace;
  margin: 10px;
  align-items: start;
}